<h1>Admin Dashboard</h1>

<table style="width: 200px" class="table table-bordered" >
<thead>
  <tr>
    <th>Product Count</th>
    <td><%= @product_count %></td>
  </tr>
  <tr>
    <th>Category Count</th>
    <td><%= @category_count %></td>
  </tr>
</thead>

</table>
